body {
  background-color: rgb(0, 53, 53);
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.search-bar {
  padding-inline: 1em;
  margin-bottom: 1em;

  border-radius: 50px;

  text-transform: uppercase;
  font-size: 24px;
}

.resource-container {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  gap: 0.5em;
}

.resource-content {
  grid-column: 1/2;
}

.page-title {
  grid-column: 1/2;
  margin: 0 auto;

  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
}

.resource-card {
  padding-inline: 1em;
  padding-block: 0.8em;
  margin-bottom: 0.5em;
  grid-column: 1/2;

  background-color: rgb(184, 134, 11);
  font-weight: bold;
  text-transform: uppercase;
}

.resource-card.common {
  border-left: 10px solid gray;
}
.resource-card.uncommon {
  border-left: 10px solid green;
}
.resource-card.rare {
  border-left: 10px solid blue;
}
.resource-card.exotic {
  border-left: 10px solid yellow;
}
.resource-card.unique {
  border-left: 10px solid white;
}

.resource-card.building {
  background-color: grey;
  border-left: 10px solid brown;
}

.resource-card:hover {
  background-color: rgb(184, 134, 11, 0.8);
  cursor: pointer;
  transform: translateX(5px);
}

.resource-card.selected {
  background-color: rgb(255, 255, 255, 0.8);
  transform: translateX(5px);
}

.recipe-container {
  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-self: baseline;
  justify-self: center;

  position: sticky;
  top: 100px;
}

.recipe-container > * {
}

.todo-container {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: baseline;
  justify-self: center;

  text-transform: uppercase;
  font-size: 20px;
  background-color: #fff;
}

.todo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.todo-total-container {
  background-color: rgb(206, 206, 206);
}

.todo-total-container::before {
  content: "Total Breakdown:";
  font-weight: bold;
}

.todo-total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.breakdown {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 100px;
  gap: 1em;

  background-color: rgb(173, 172, 172);

  justify-content: baseline;
  align-items: baseline;
}

.break-down > * {
  flex: 1 1 100%;
}
.search-bar {
  position: sticky;
  top: 1em;
}
.craft-container,
.details-container {
  padding-inline: 1em;
  padding-block: 0.5em;

  display: none;

  background-color: darkgrey;
  text-transform: uppercase;
}

.craft-card,
.details-card {
  margin-block: 0.5em;
  display: grid;
  grid-template-columns: 1fr 50px;
}

.craft-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.craft-title {
  font-weight: bold;
}

.craft-quantity {
  display: block;
  box-sizing: border-box;
  width: 50px;
  text-align: center;

  background-color: rgb(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}
.craft-ingredient,
.details-ingredient {
  margin-right: 2em;
}

.craft-amount,
.details-amount {
  justify-self: baseline;
}

.craft-amount::before,
.details-amount::before {
  content: "x";
  text-transform: lowercase;
}

.craft-add-btn {
  padding: 0.5em 1em;
  align-self: start;

  border-radius: 10px;

  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.show {
  display: block;
}

.hide {
  display: none;
}
